  <section class="" style="background:lavender;">
<div id="universe" style = "top: -25%;
    z-index: 1;
    position: absolute;

    width: 100%;
    height: 80%;
    left: 0%;">
      <div id="galaxy">

      <div id="sun" style='font-size:6em;'>
      </div>

        <div id="mercury" class="orbit" style="width: 7em;
    height: 7em;">
        <div class="pos">
            <div class="planet" style="width:30px;"></div>
          </div>
        </div>

      </div>

    </div>
  </section>
