<div class="preload">
<%= image_tag "teapot.png", :class => "teapot" %>
</div>

<div class="content">
  <div class="hero">
  <nav>
  <ul class = 'nav-link'>
      <li class = 'link1'><%= link_to 'about', about_path %></li>
      <li class = 'link2'><%= link_to 'works', works_path %></li>
      <li class = 'link3'><%= link_to 'resume', services_path %></li>
      <li class = 'link4'><a href="">contact</a></li>
  </ul>

  </nav>

 </div>

<div class="intro">
  <div class="about"> Hi! I'm Linlu<br>
    <span class ='small-text'>A UX/UI designer with a passion of utilizing animations to next-level users' digital experience and focus on providing design solutions based on user research.</span>
  </div>
</div>
