.about-page {
  height:110vh;
  background-color: #F3E3EA;
}

.big_title {
  font-size:13em;
  color:white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  transform:translateY(30%);
  animation:color-change 5s infinite;
  z-index:99999999999;
  animation-direction: alternate;
}

.back-button {
  z-index:10;
  position: absolute;
    left: 20px;
    top: 10px;
}

.back-button:hover {
  transform: translateX(-12px);

}


@keyframes color-change {
   0% {
        color:white;
      }
    25% {
        color: #cfb4d6;
      }
    50% {
        color: #b294b9;
      }
      75% {
        color: #925e9ee6;

      }
      100% {
        color:#d4a8deed;
      }
}


.intro-text {
  height:110vh;
  background-image:linear-gradient(to top, #ccdef5 0%,  #f3e3ea 100%);

}


.self-picture{
  position:absolute;
  left:55%;
  width:320px;
}


.txt-pic {
  display:flex;
  flex-direction:row;
}
