.about-page {
  height:110vh;
  background-color: #F3E3EA;
}

.big_title {
  font-size:12em;
  color:white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  transform:translateY(30%);
}
