.nav-head {
    box-shadow: 0 0 70px rgba(0, 0, 0, .1);
    height:40px;
    background-color:#F3E3EA;
    position: sticky;
    top:0px;
    z-index: 0;
}

.cookpal_big_title {

  font-size: 10em;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  -webkit-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
  z-index: 999;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



.cookpal_intro_copy {
  transform: translate(50%);
  position:absolute;
  top:40%;
}

.cookpal_micro_copy {
  text-align:center;
  color:#735373;
}

.cookpal-down {
  top: 320px;
}

.cookpal_nav_arrow {
 position:fixed;
 left:20px;
 top:10px;
}

.cookpal_nav_home {
 position:fixed;
 left:200px;
 top:10px;
}

.logo_linlu {
    left: 150px;
    top: 10px;
    position: fixed;
}

.cookpal_nav_about {
  top: 10px;
}

