.nav-head {
    box-shadow: 0 0 70px rgba(0, 0, 0, .1);
    height:40px;
    background-color:#F3E3EA;
    position: sticky;
    top:0px;
}

.cookpal_big_title {

  font-size: 10em;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  -webkit-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
  z-index: 999;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



.cookpal_intro_copy {
  transform: translate(50%);
  position:absolute;
  top:40%;
}

.cookpal_micro_copy {
  text-align:center;
  color:#735373;
}
