.PDP-header {
    box-shadow: 0 0 70px rgba(0, 0, 0, .1);
    height:40px;
    background-color:white;
    position: sticky;
    top:0;
    z-index: 3333330;
}

.cookpal_big_title {

  font-size: 10em;
  color: white;
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  -webkit-animation: color-change 5s infinite;
  animation: color-change 5s infinite;
  z-index: 999;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}



.cookpal_intro_copy {
  transform: translate(50%);
  position:absolute;
  top:25%;
}

.cookpal_micro_copy {
  text-align:center;
  color:#735373;
}

.cookpal-down {
  top: 460px;
}

.cookpal_nav_arrow {
 position:fixed;
 left:20px;
 top:10px;
}

.cookpal_nav_home {
 position:fixed;
 left:200px;
 top:10px;
}

.logo_linlu {
    left: 150px;
    top: 10px;
    position: fixed;
}

.cookpal_nav_about {
  top: 10px;
}

.logo_linlu:hover {
transform:translateX(-3px);
transition: all 0.4s ease-out;
}


.navbar_cookpal {
  position:fixed;
  visibility:hidden;
  top:50%; right:30px;
  transform:translateY(-50%);
  z-index:1000;
}

.navbar_cookpal_show {
  visibility:visible;
  z-index:1000;
  position:fixed;
  top:50%; right:30px;
  transform:translateY(-50%);
}

.navbar_cookpal ul li .dot::before {
  content: '';
  position:relative;
  top:50%;
  border-radius:50%;
  display: block;
  transition: .2s ease-out;
  height:5px;
  width:5px;
  border:1px solid #666;
  transform: translateX(-300%);
  top:15px;
}

.navbar_cookpal ul li .dot.active::before {
 background-color: #666;
}


.navbar_cookpal ul li:hover .dot::before {
background-color: #666;
}

.sec {
  height:auto;
  background-color:white;
}

.cookpal_intro {
  text-align:center;
  padding-top:3em;
}

.cookpal_headline {
  text-align:center;
  font-size:1.5em;
  font-weight:700;
  font-family: 'Yusei Magic', sans-serif;
  color: #5c4b63;
}


.cookpal_overview_intro {
  margin: auto;
  padding-top: 2em;
  width:60%;
  text-align:center;
}

.cookpal_intro_pic {
  width: 80%;
  margin: auto auto;
  text-align: center;
  margin-top: 50px;
}

.intro_pic_cp{
  width:80%;
}

.intro_pic_cp {
  width:80%;
}


.cookpal_empathy_map {
  margin: auto;
    width: 60%;
    text-align: center;
}


.popupHl {
opacity:0.3;
 transform: translateY(-8px);
}


.hl-appear{
  opacity:1;
   transform: translateY(0px);
}


.quote_mark_start {
    width: 36px;
    position: absolute;
    left: 15%;
}

.quote_mark_end {
    position: absolute;
    right: 20%;
    width: 36px;
}

.user_flow {
  width:980px;
}


.bg1_cookpal {
  width:100%;
  position: absolute;

}

.cp_iphone_01 {
     position: relative;
    // left: 200px;
    width: 260px;
    // top: 240px;
}


.cp_iphone_02 {
  position: relative;
  // left: 400px;
  width: 260px;
  // top: 100px;
}

.visual_txt01 {
    text-align: left;
    margin: 0 20%;
    width:20%;
    position: relative;
    top: 13em;
    color: white;
}

.cp_screen_txt {
  display:flex;
  flex-direction:column;
}


.cp_screen_txt .subheadline {
  padding-bottom:30px;
}


.cp_screen_txt .cp_iphone_01 {
  padding-bottom:30px;
}


.cp_screen {
  display:flex;
  flex-direction:row;
}
