.simplicruit_mh {
  width:60%;
}

.about-page-st {
  background-color:#37475a;
  height:117vh;
}


.simplicruit-img {
  margin: auto auto;
  text-align: center;
  width:760px;
}


.sm_intro_copy {

}

.sm-down {
  position: absolute;
  z-index:2;
    top: 66%;
    width: 40px;
    display: inline-block;
    margin: 0 50%;
    left:10px;
}


@media screen and (max-width:1300px) {
.sm-down {
    top: 72%;
  }
}



.sm_img {
  width:860px;
  position: relative;
  right: 60px;
  top: 40px;
}


#Vector_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_10_leaf, #Vector_13_leaf, #Vector_12_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_16_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#Vector_15_leaf, #Vector_5_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#milestone:hover{
transform:translateY(5px);
}

circle:hover{
  transform:translateY(5px);
}


#Vector_54 {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: top;
  transform-box: fill-box;
}

.intro_pic_sm {
  width:86%;
}


.intro_pic_sm_2 {
  width:80%;
}

.intro_pic_sm_3 {
  width:75%;
}

.sm_video {
 width:120px;
}


.sm_intro_pic {
  margin: auto auto;
  text-align: center;
}

#spark {
  animation: sparks 2000ms ease-in-out infinite;
  transform-origin: center;
  transform-box: fill-box;

}

@keyframes sparks {
   0% {
    transform: rotate(-20deg);
  }

  50% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

.sm_video{
  transition: all ease-in-out .5s;
}

.sm_video:hover{
  filter: invert(0.5) sepia(1);
}


.sm-flex-image {
  width:50%;
}

.sm-flex-container {
  margin: 0 10%;
  display:flex;
  flex-direction:row;

}


.sm-flex-item {
  justify-content:space-between;
}


.icon-copy-sm {
  display:flex;
  flex-direction:row;
  width: 60%;
  text-align: center;
  margin: auto;
}

.icon-item_group {
  display:flex;
  flex-direction:column;
  align-items: center;

}

.product_design {
  width:50px;
}

