.simplicruit_mh {
  width:60%;
}

.about-page-st {
  background-color:#37475a;
  height:110vh;
}


.simplicruit-img {
  margin: auto auto;
  text-align: center;
  width:760px;
}


.sm_intro_copy {

}

.sm-down {
  position: absolute;
  z-index:2;
    top: 66%;
    width: 40px;
    display: inline-block;
    margin: 0 50%;
    left:10px;
}


@media screen and (max-width:1180px) {
.sm-down {
    top: 72%;
  }
}



.sm_img {
  width:860px;
  position: relative;
  right: 60px;
  top: 40px;
}


#Vector_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_10_leaf, #Vector_13_leaf, #Vector_12_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_16_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}

#Vector_15_leaf, #Vector_5_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#milestone:hover{
transform:translateY(5px);
}

circle:hover{
  transform:translateY(5px);
}


#Vector_54 {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: top;
  transform-box: fill-box;
}

.intro_pic_sm {
  width:86%;
}


.intro_pic_sm_2 {
  width:80%;
}

.intro_pic_sm_3 {
  width:75%;
}

.sm_video {
  width:40%;
}
