.simplicruit_mh {
  width:60%;
}

.about-page-st {
  background-color:#37475a;
  height:110vh;
}


.simplicruit-img {
  margin: auto auto;
  text-align: center;
  width:760px;
}


.sm_intro_copy {

}

.sm-down {
  top: 70%;
  left: 40px;
}


.sm_img {
  width:860px;
}


#Vector_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_10_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}


#Vector_16_leaf {
  animation: leaves_up 2000ms ease-in-out infinite;
  transform-origin: bottom;
  transform-box: fill-box;
}
