.girl_img_sp {
  max-width:90%;
  margin:auto;
  margin-top: 30px;
}


.girl_img_sp svg {
  transform:translateX(20px);

}

.intro-sp {
  background-image: linear-gradient(to top, #F4E3EA 0%, #FAEAEE 509%, #F4ECF1 100%);
}


.nav-link-sp {
  position:fixed;
  background:linear-gradient(to top, #FFD1D1 0%, #f8f0f9 100%);
  height:100%;
  width:100%;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
  clip-path:circle(50px at 10% -10%);
  -webkit-clip-path: circle(50px at 10% -10%);
  transition: all 1s ease-out;
  pointer-events:none;
}

.nav-link-sp a {
  font-size:22px;
}

.nav-link-sp.openmenu{
  clip-path:circle(1000px at 90% -10%);
  -webkit-clip-path: circle(1000px at 90% -10%);
  pointer-events:all;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50%;
}


.intro-sp {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  justify-content: space-between;
  max-width: 90%;
  margin: auto;
  font-size: 16px;
  padding-top: 30px;
}


.slide-sp {
  width:100%;
  float:none;
  height:35vh;
}

@media screen and (max-width: 480px){
#universe {
  width:100%;

 }
}

@media screen and (max-width: 480px){
.circle-container{
  width: 150px;
  height: 150px;
  display: flex;
  align-items: center;
  perspective: 100px;
  }

  nav{
    position:relative;
  }

  .about {
    // margin-top:50px;
  }


.monitor {
    right: 10%;
}


 }


 .line {
  width: 30px;
  height: 3px;
  margin: 6.9px;
  background:white;
 }



 .straight-line-sp {
    position: absolute;
    top: 0%;
    left: 20%;
    width: 200px;
    border-top: 3px solid #fff;
    opacity: 0.6;
 }




 .project-number-sp {
  position:absolute;
  top:-5%;
  left:10%;
  font-family: 'Dosis', sans-serif;
  font-size:2em;
  color:white;
  opacity:0.6;
}



.project-number-sp2 {
  position:absolute;
  top: 10%;
  left: 10%;
  font-family: 'Dosis', sans-serif;
  font-size:2em;
  color:white;
  opacity:0.6;
}


.yellowblob {
  position:relative;
  top:-30%;

}


.straight-line-sp2 {
  position:absolute;
  top:15%;
  left:24%;
  width:200px;
  z-index:100000000;
}


.simplicruit_logo_sp {
  position: absolute;
  top: 20%;
  left: 1%;
  height: 120px;
}

.plane-sp {
  width:200px;
}


.straight-line-sp2 {
  border:1px solid #f2f0f8;
}



.simplicruit-des-sp {
    position: absolute;
    top: 40%;
    left: 15%;

  }


.aha-des {
    position: absolute;
    top: 15%;
    left: 3%;

}

.Project-headline-sp {
    position: relative;
    margin: auto auto;
    width: 200px;
    top: 40px;
    left: 40px;
}

.project-number-sp3 {
    position: absolute;
    top: 10%;
    left: 10%;
    font-family: 'Dosis', sans-serif;
    font-size: 2em;
    color: white;
    opacity: 0.6;
}


.straight-line-sp {
    position: absolute;
    top: 15%;
    left: 100px;
    width: 200px;
    border-top: 3px solid #fff;
    opacity: 0.6;
}

.aha-des-sp {
  position: absolute;
  top: 20%;
  left: 13%;
}

.straight-line-sp1 {
  border:1px solid #f2f0f8;
  position: absolute;
  top: 0%;
  left: 24%;
  width: 200px;
}


.yaha_logo_sp {
    position: absolute;
    top: 15%;
    left: 2%;
    height: 140px;
}


.contact-form-sp {
    width: 360px;
  left:0%;
  transform: translateX(-10px);

}

.hamburger {

    position: fixed;
    cursor: pointer;
    left: 5%;
    top: 1%;
    z-index: 1000000000000000000000;

}


.hamburger .line{
 transition: all .5s ease-in-out;
}


.footnote {
    text-align: center;
    background-color: #594e5a;
    color: white;
    font-size: 11px;
}

.nav-sp {
width:100%;
height: 48px;
background-color: #736372;
position:fixed;
z-index: 100000000000000000;

}

.hamburger {

}


.nav-link-sp li {
  font-size:80px;
}

/*ANIMATION*/

.hamburger.open .line:nth-child(2) {
 transform: translateX(-50px);
 background:transparent;
 z-index:100000000000000000;
}

.hamburger.open .line:nth-child(1) {
  transform: rotate(45deg) ;
  transform-origin: top left;
  z-index: 1000000000000000000000;
}

.hamburger.open .line:nth-child(3) {
  transform: rotate(-45deg);
   transform-origin: top left;
   z-index: 1000000000000000000000;
}

.nav-link-sp li {
  opacity:0;
}

.nav-link-sp li:nth-child(1) {
  transition:all 0.5s ease 0.2s;
}

.nav-link-sp li:nth-child(2) {
  transition: all 0.5s ease 0.4s;
}

.nav-link-sp li:nth-child(3) {
  transition: all 0.5s ease 0.6s;
}

.nav-link-sp li:nth-child(4) {
  transition: all 0.5s ease 0.8s;
}

.nav-link-sp li.fade {
  opacity:1;

}
