.work_headline {
  font-size: 40px;
}

.work_big_title {
    font-size: 10em;
    color: white;
    font-family: 'Yusei Magic', sans-serif;
    text-align: center;
    -webkit-animation: color-change 5s infinite;
    animation: color-change 5s infinite;
    z-index: 999;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    padding-top: 1em;
    padding-bottom: 1em;
    transform: translateY(-16px);
    position:relative;
  }


.work_downward {
  width:100%;
  margin: auto auto;
  text-align: center;
  position:absolute;
  top:560px;
  animation: bounce 0.5s infinite alternate;
  -webkit-animation: bounce 0.5s infinite alternate;
  z-index:2;
}


.work_cloud {
      -webkit-animation: movearound 5s infinite;
    animation: movearound 5s infinite;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
    position:relative;
    bottom:40px;
}


.cover:hover{
  transform:scale(1.03);
  transition: all 0.4s ease-out;
  box-shadow: 0 0 70px rgba(0, 0, 0, .1);
}
.work_greeting_messaging{
  color: white;
  font-family: 'Chalkduster';
  font-size: 22px;
  position: absolute;
  top: 480px;
  text-align: center;
  z-index: 100;
  margin: auto 20%;
}

.work_greeting {
  margin:auto auto;
  text-align:center;
  width:100%;
}

.title:hover {
transform:translateX(-3px);
transition: all 0.4s ease-out;
}

.portfolio {
  background-color:#f3e3ea;
}
@media screen and (min-width: 480px){
.portfolio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows:340px;
  background-color:#f3e3ea;
}
}

.thumbnail {
  text-align:right;
  margin: auto 0;
  height: 340px;
}

.title {
  font-size:32px;
  margin-bottom:1em;
  color: #2a415d;
}

.title:hover{
  color:#623e69;
  transform:translateX(10px);
}
.introduction1 {
  margin: auto 100px;
}

.portfolio {
  padding-top: 80px;
}
.work_greeting_messaging {
  font-size:16px;
}

@media screen and (max-width: 480px){
  .work_big_title {
    font-size:72px;
    padding: 40% 0;
  }
  .cover{
  width:340px;
}
.thumbnail {
    text-align: center;
  }
  .work_greeting_messaging {
    font-size:22px;
    margin: auto 5%;
    top: 450px;
  }

  .work_cloud {
    position: relative;
    bottom: 160px;
    left: 240px;
  }

  .work_downward {
    display:none;
  }
  .portfolio {
    padding-top: 45%;
}
.thumbnail {

    height: 290px;
}

}



